.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr); /* creates 4 columns */
  grid-template-rows: repeat(2, 0.2fr); /* creates 2 rows */
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.box {
  background-color: #eee;
  border: 1px solid #ddd;
  height: 400px;
  width: 400px;
}

.head_aibox {
  background: linear-gradient(230deg, #06beb6, #48b1bf);
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}
