.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr); /* creates 4 columns */
  grid-template-rows: repeat(2, 0.2fr); /* creates 2 rows */
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.box {
  background-color: #eee;
  border: 1px solid #ddd;
  height: 400px;
  width: 400px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-info {
  margin-left: 20%;
}

.contact-info li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
  color: #333;
}
h1 {
  background: linear-gradient(230deg, #06beb6, #48b1bf);
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#questions-container {
  margin: 20px;
}

.question {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.question:hover {
  background-color: #ddd;
  cursor: pointer;
}
