<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/AIbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/App.css" />
    <link rel="stylesheet" type="text/css" href="/static/Quizes.css" />
  </head>
  <body>
    <nav class="nav_head">
      <div>
        <img class="nav_symbol" src="{{symbol}}" alt="iphone-app" />
      </div>
      <ul class="Ul_head">
        <li><a href="/">Home</a></li>
        <li><a href="/AIbox">AI Box</a></li>
        <li><a href="/Quizes">Quizes</a></li>
        <li><a href="/Practice">Practice</a></li>
        <li><a href="/Courses">Courses</a></li>
      </ul>
    </nav>
    <div class="grid-container">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </body>
</html>
