<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{{ url_for('index') }}">Home Page</a>
    <img src="{{ url_for('videoforInterview') }}" width="50%" />
    <footer>
      <div class="footer-content">
        <h2>Contact Us</h2>
        <p>We'd love to hear from you!</p>
        <ul class="contact-info">
          <li><i class="fas fa-envelope"></i> info@example.com</li>
          <li><i class="fas fa-phone"></i> +1 (555) 123-4567</li>
          <li>
            <i class="fas fa-map-marker-alt"></i> 123 Main Street, Anytown, USA
            12345
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
