<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/AIbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/Quizes.css" />
    <link rel="stylesheet" type="text/css" href="/static/App.css" />
  </head>
  <body>
    <nav class="nav_head">
      <div>
        <img class="nav_symbol" src="{{symbol}}" alt="iphone-app" />
      </div>
      <ul class="Ul_head">
        <li><a href="/">Home</a></li>
        <li><a href="/AIbox">AI Box</a></li>
        <li><a href="/Quizes">Quizes</a></li>
        <li><a href="/Practice">Practice</a></li>
        <li><a href="/Courses">Courses</a></li>
      </ul>
    </nav>
    <div class="quiz-page-wrapper">
      <h1 class="head_trivia">TRIVIA</h1>
      <div class="row">
        <div class="col-md-6 col-lg-3 cutomclasshetvi">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Sorting Algorithms</h5>
              <p class="card-text">
                Practice Sorting Algorithms MCQs here on VLearn which will help
                you to clear your concepts and also to prepare for technical
                rounds, interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Easy</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Stacks</h5>
              <p class="card-text">
                Practice Stacks MCQs here on VLearn which will help you to clear
                your concepts and also to prepare for technical rounds,
                interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Easy</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Queues</h5>
              <p class="card-text">
                Practice Queues MCQs here on VLearn which will help you to clear
                your concepts and also to prepare for technical rounds,
                interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Medium</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Trees</h5>
              <p class="card-text">
                Practice Trees MCQs here on VLearn which will help you to clear
                your concepts and also to prepare for technical rounds,
                interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Medium</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Graph</h5>
              <p class="card-text">
                Practice Graph MCQs here on VLearn which will help you to clear
                your concepts and also to prepare for technical rounds,
                interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Difficult</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Hash</h5>
              <p class="card-text">
                Practice Hash MCQs here on VLearn which will help you to clear
                your concepts and also to prepare for technical rounds,
                interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Difficult</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Searching Algorithms</h5>
              <p class="card-text">
                Practice Searching Algorithms MCQs here on VLearn which will
                help you to clear your concepts and also to prepare for
                technical rounds, interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Difficult</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Miscellaneuous</h5>
              <p class="card-text">
                Practice Miscellaneuous MCQs here on VLearn which will help you
                to clear your concepts and also to prepare for technical rounds,
                interviews, competitive exams etc.
              </p>
              <a href="quiz">
                <button class="btn btn-primary btn-hetvi">Take Test</button>
              </a>
            </div>
            <div class="card-footer text-muted">Difficult</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
